extend layout
block content
    p.auto-style2
      | Welcome to ProductTribe.  This is independent of
      | Product Hunt, so do not blame them for any part of this system.
    p.auto-style2
      | Subscription will involve receiving an email, once a
      | day, that will offer post suggestions based on what you have upvoted in the
      | past.
    p.auto-style2
      | When you click on subscribe or unsubscribe, I will
      | ask for your permission to access your Product Hunt data.  I use this
      | to get you name, email, and nothing else.
    a(href="http://producthunt.tpopp.com/auth/producthunt")
      img.img-center#img3(align='center', alt='Subscribe', height='60', onmousedown="FP_swapImg(1,0,/*id*/'img3',/*url*/'img/button10.jpg')", onmouseout="FP_swapImg(0,0,/*id*/'img3',/*url*/'img/buttonE.jpg')", onmouseover="FP_swapImg(1,0,/*id*/'img3',/*url*/'img/buttonF.jpg')", onmouseup="FP_swapImg(0,0,/*id*/'img3',/*url*/'img/buttonF.jpg')", src='img/buttonE.jpg', style='border: 0', width='300')
    // MSComment="ibutton" fp-style="fp-btn: Braided Row 2" fp-title="Subscribe"
    a(href="http://producthunt.tpopp.com/unsubscribe")
      img.img-center#img2(align='center', alt='Unsubscribe', height='60', onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'img/buttonD.jpg')", onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'img/buttonB.jpg')", onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'img/buttonC.jpg')", onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'img/buttonC.jpg')", src='img/buttonB.jpg', style='border: 0', width='300')
    // MSComment="ibutton" fp-style="fp-btn: Braided Row 3" fp-title="Unsubscribe"
