extend layout
block content
	div(style='text-align: center; display: block;')
		img(align='middle', alt='Your profile pic', height='88px', src='#{image_url["88px"]}', width='88px%')
	p &nbsp;
	p(align='center')
		| Thank you <b>#{name}</b>, you should receive your first suggestions
		| soon at <b>#{email}</b>.

